/*
    Theme Responsive Design
*/

@media (max-width: 1170px) {
    .swiper-container {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }
    .hero-section {
        height: 650px;
    }
    .hero_content {
        padding: 100px 0;
    }
}

/* ---- Start of max-width 992px CSS ---- */

@media (max-width: 992px) {
    .sm-padding {
        padding: 15px;
    }
    ul.nav>li>a {
        padding: 0 5px;
        font-size: 10px;
    }
    h1 {
        font-size: 35px;
    }
    .menu-wrap ul.nav {
        display: none;
    }
    .slicknav_menu {
        
    }
    .hero-moc {
        /* display: none; */
    }
    .hero-section {
        height: 550px;
    }
    .swiper-container {
        width: 260px;
    }
    .swiper-container .swiper-slide {
        text-align: center;
    }
    .swiper-container .swiper-slide img,
    .swiper-container .swiper-slide-active img {
        width: 80% !important;
    }
    .download-section:before,
    .swiper-container .swiper-next,
    .swiper-container .swiper-prev {
        /* display: none; */
    }
    .download-section {
        padding: 100px 0;
    }
}

/* ---- End of max-width 992px CSS ---- */

/* ---- Start of min-width 480px and max-width 768px CSS ---- */

@media all and (min-width: 480px) and (max-width: 768px) {
    .feature-box .feature-icon{
        top:-23px;
    }
}

/* ---- End of min-width 480px and max-width 768px CSS ---- */

/* ---- Start of max-width 767px CSS ---- */

@media all and (max-width: 767px) {
    body {
        overflow-x: visible;
    }
    body,
    p {
        font-size: 14px;
        line-height: 22px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    .padding {
        padding: 30px 0;
    }
    .xs-padding {
        padding: 15px;
    }
    .navbar-brand {
        padding: 11px 0;
    }
    .about-mockup {
        display: none;
    }
    .hero-section {
        /* height: 400px; */
        padding-top: 45px;
    }
    .feature-left .feature-box h4 {
        margin: 0 0 5px 70px;
        text-align: left;
        font-size: 16px;
    }
    .feature-left .feature-box .feature-content, .feature-right .feature-box .feature-content {
        padding: 5px 20px 5px 50px;
        /* border-right: 1px solid rgb(238 238 238 / 45%); */
        /* border-left: 0px solid transparent; */
        text-align: left;
    }
    .feature-left .feature-box:hover .feature-content {
        border-right-color: #d9a691;
        border-left-color: transparent;
    }
    .feature-left .feature-box .feature-content:before {
        right: 0;
        left: auto;
    }
    .feature-left .feature-box .feature-icon {
        left: -20px;
        right: auto;
        top: -24px;
    }
    .feature-list {
        padding: 0;
    }
    .feature-list.text-right {
        text-align: left;
        padding-top: 15;
    }
    .feature-box .feature-content {
        margin: 0 0 5px 20px;
    }
    .feature-box h4{
        margin: 0 0 5px 70px;
        font-size: 16px;
    }
    #screenshots .section-heading {
        margin-bottom: 0px;
    }
    #screenshots .swiper-container {
        padding-bottom: 3rem;
    }
    .feature-box .feature-icon{
        top:-23px;
    }
}

/* ---- End of max-width 767px CSS ---- */

/* ---- Start of max-width 576px CSS ---- */

@media all and (max-width: 576px) {
    h3,
    h4 {
        font-size: 18px;
    }
    .subscribe-form {
        width: 100%;
    }
    .subscribe-form .form-input {
        width: 100%;
        margin-bottom: 15px;
    }
    .subscribe-form .submit {
        width: 100%;
        margin-left: 0;
    }
    .feature-box .feature-icon{
        top:-23px;
    }
}

/* ---- End of max-width 576px CSS ---- */

/* ---- Start of max-width 420px CSS ---- */

@media all and (max-width: 420px) {
    .btn-group a {
        font-size: 16px;
    }
    .feature-box .feature-icon{
        top:-23px;
    }
}

/* ---- End of max-width 420px CSS ---- */

/* ---- Start of max-width 380px CSS ---- */

@media all and (max-width: 380px) {
.feature-box .feature-icon{
        top:-23px;
    }
}

/* ---- End of max-width 380px CSS ---- */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		padding-top:20px;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Daily"; }
	td:nth-of-type(2):before { content: "3X per week"; }
	td:nth-of-type(3):before { content: "Weekly"; }
	td:nth-of-type(4):before { content: "3X per month"; }
	td:nth-of-type(5):before { content: "Monthly"; }
	td:nth-of-type(6):before { content: "Every 3 months"; }
	td:nth-of-type(7):before { content: "1X per year"; }
	td:nth-of-type(8):before { content: "Never"; }
	
}








